<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TIHLIB" value="https://pkgs.dev.azure.com/Telesure/_packaging/TIHLIB/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TIHLIB>
      <add key="Username" value="johanw@tihsa.co.za" />
      <add key="ClearTextPassword" value="4aetscwbvavtvh23kyd4nwtl4viid7f5psjl36n542dy6leoiz4q" />
    </TIHLIB>
  </packageSourceCredentials>
</configuration>